@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: rgb(130, 230, 183) !important;
  display: flex;
  height: 100%;
  width: 100%;

}

main {
  color: rgb(12, 12, 12);
  width: 50vw;
  /* height: 50; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 80px;
  padding: 2rem 4rem;
}

main h2 {
  color: rgb(255, 255, 255);
  font-size: 5rem;
  margin: 2rem;
  padding-bottom: 120px;
}

main h1 {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  margin: 1rem;
  justify-content: left;
  padding-top: 20px;
  padding-bottom: 0;
}

#collapseLoginBtn,
#collapseRegisterBtn {
  cursor: pointer;
  width: 300px;
  height: 50px;
  margin: 0.5rem;
  border: 4px white;
  border-radius: 32px;
  background: #ffffff;
  color: rgb(107, 197, 119);
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

#collapseLoginBtn:hover {
  background: rgb(5, 134, 80);
  color: #ffffff;
}

#collapseRegisterBtn:hover {
  background: rgb(5, 134, 80);
  color: #ffffff;
}

.cover {
  /* background: url(/assets/cover.jpg); */
  width: 48%;
  position: absolute;
  left: 0px;
  height: 50vw;
}

@media screen and (min-width: 1001px) and (max-width: 1400px) {
  .cover {
    height: 50vw;
  }

  main {    
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    padding: 1rem 1rem;
  }

  main h2 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin: 2rem;
    padding-bottom: 50px;
  }

  main h1 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin: 5px;
    justify-content: left;
    padding-top: 5px;
    padding-bottom: 1rem;
  }
  body {
    background-color: rgb(130, 230, 183) !important;
    display: flex;
    min-height: 100%;
    min-width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .cover {
    display: none;
  }
  main {    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;;
  }

  main h2 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin: 1rem;
    padding-bottom: 10px;
  }

  main h1 {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    margin: 5px auto;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 1rem;
  }

  body {
    background-color: rgb(130, 230, 183) !important;
    display: flex;
    min-height: 100%;
    min-width: 100%;
  }

   #collapseLoginBtn,
   #collapseRegisterBtn {
   cursor: pointer;
   width: 150px;
   height: 30px;
   margin: 3px auto;
   font-size: 0.9rem;
   align-items: center;  
}
  
}
